.category-nav {
  display: flex;
  /* justify-content: space-between; */
  /* padding: 0 5rem; */
  margin: 1rem 0;
  flex-wrap: wrap;
  gap: 2px;
  width: 100%;
  /* gap: 0.5rem; */
  /* height: 100px; */
  /* overflow: hidden; */
}
.category-nav__item {
  border: none;
  background: #fea244;
  color: white;
  /* height: 100px; */
  text-align: center;
  /* line-height: 1.5px; */
  padding: 1rem 2rem;
  /* border-radius: 0 0 1rem 1rem; */
  cursor: pointer;
  text-transform: capitalize;
}

.category-nav__item:hover {
  background: #ff9b36;
}
